<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <%= stylesheet_link_tag 'home' %>
</head>
<body>
  <div class="container">
    <div class="nav row">
      <div class="col-sm-8"></div>
      <div class="col-sm nav-bar-items">
        <button class="nav-bar-item">
          <a href="/sign_up">Sign Up</a>
        </button>
      </div>
      <div class="col-sm nav-bar-items">
        <button class="nav-bar-item">
          <a href="/sign_in">Log In</a>
        </button>
      </div>
    </div>
    <div class="main"></div>
  </div>
</body>
</html>
